%h1 iB Hubs


%p
  India 4.0, Global hub
  %a{href: "https:ibhubs.co"}
    know more here.

%button.btn{type: 'submit'} Submit
#sample-page-container  
%script{src: webpack_asset_path('js/ibhubs/ib.js'), data: {ibhubs: @access_token}}
